<div class="bg-white rounded-lg shadow-md p-4 h-72">
  <li class="book h-full">
    <img [src]="book.src" [alt]="book.src" class="w-full h-32 object-cover rounded-lg">
    <p class="mt-4 text-lg font-semibold h-12 overflow-hidden">
      {{book.name | titlecase}}, {{book.author | titlecase}}
      <span class="mt-2 text-gray-600">{{book.price | currency:'R'}}</span>
    </p>
    <div class="flex mt-4 space-x-4">
      <button class="flex-1 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 rounded" 
              *ngIf="!isInCart" (click)="addToCart()">Add to cart</button>
      <button class="flex-1 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 rounded" 
              *ngIf="isInCart" (click)="removeFromCart()">Remove from cart</button>
      <button class="flex-1 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 rounded" 
              [routerLink]="'views/' + book.id">View book</button>
    </div>
  </li>
</div>
